WSDL/ABSPlan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCompanyAgreementsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerKey" type="tns:CustomerKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KeyType" type="tns:CustomerKeyType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CustomerKeyType">
        <s:restriction base="s:string">
          <s:enumeration value="CVR" />
          <s:enumeration value="KIS" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetCompanyAgreementsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyAgreementsInfoResult" type="tns:CustomerAgreementInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerAgreementInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerExists" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="GracePeriodDays" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiresManualOrderProcessing" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCompanyAgreementsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanyAgreementsInfo" />
  </wsdl:message>
  <wsdl:message name="GetCompanyAgreementsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyAgreementsInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetCompanyAgreementsInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets basic information regarding the handling of agreements for customer</wsdl:documentation>
      <wsdl:input message="tns:GetCompanyAgreementsInfoSoapIn" />
      <wsdl:output message="tns:GetCompanyAgreementsInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompanyAgreementsInfo">
      <soap:operation soapAction="http://tempuri.org/GetCompanyAgreementsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompanyAgreementsInfo">
      <soap12:operation soapAction="http://tempuri.org/GetCompanyAgreementsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://absplan.ditmer.dk/api/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://absplan.ditmer.dk/api/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>